@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
	font-size: var(--font-size-m);
	font-family: var(--font-family-main);
	background-color: var(--bg-c);
	color: var(--primary-c);

	min-height: 100dvh;
}
