:root {
  --font-family-main: calibri, sans-serif;
  --font-size-m: 1rem;
  --font-line-height-m: 1.5rem;
  --font-size-l: 1.5rem;
  --font-line-height-l: 2rem;

  /* =========== Transitions =========== */
  --main-transit: 0.2s;
  --hover-transit: 0.15s;

  /* =========== Sizes =========== */
  --navbar-height: 3.5rem;
  --sidebar-width: 18.75rem;
  --sidebar-width-collapsed: 5rem;
}