.sidebar {
	display: flex;
	flex-direction: column;
	height: calc(100dvh - var(--navbar-height));
	width: var(--sidebar-width);
	background-color: var(--inverted-bg-c);
	position: relative;
	transition: width var(--main-transit);
	padding: 1.25rem;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.mainContent {
	flex: 1 1 auto;
}

.switchers {
	width: 100%;
	display: flex;
	justify-content: center;
}
