:root {
	--font-family-main: Calibri, sans-serif;

	--font-size-m: 1rem;
	--font-line-height-m: 1.5rem;
	--font-main: var(--font-size-m) / var(--font-line-height-m) var(--font-family-main);

	--font-size-l: 1.5rem;
	--font-line-height-l: 2rem;
	--font-main: var(--font-size-l) / var(--font-line-height-l) var(--font-family-main);
}
