/* ====================================== Button ====================================== */
.themeIcon {
  --size: 2rem;
  --icon-fill: var(--primary-c);
  --icon-fill-hover: rgb(157 255 0 / 71%);
  --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-out-5: cubic-bezier(0, 0, 0, 1);
  --ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);

  aspect-ratio: 1;
  background: none;
  block-size: var(--size);
  border: none;
  border-radius: 50%;
  inline-size: var(--size);
  outline-offset: 0.3125rem;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* =================== Button:hover =================== */
.moon {
  transition: fill var(--hover-transit);
}

.themeIcon:hover :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.themeIcon:hover .sunBeams {
  stroke: var(--icon-fill-hover);
}

/* ====================================== Light Theme ====================================== */
.sunAndMoon {
  block-size: 100%;
  inline-size: 100%;
  stroke-linecap: round;
}

.sunAndMoon :is(.moon, .sun, .sunBeams) {
  transform-origin: center center;
}

.sunAndMoon :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.moon > circle {
  transition: transform 0.25s var(--ease-out-5);

  @supports (cx: 1) {
    transition: cx 0.25s var(--ease-out-5);
  }
}

.sun {
  transition: transform 0.5s var(--ease-elastic-3), fill var(--hover-transit);
}

.sunBeams {
  stroke: var(--icon-fill);
  stroke-width: 0.125rem;
  transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
}

/* ====================================== Dark Theme ====================================== */
.themeIcon.dark .sun {
  transform: scale(1.75);
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-3);
}

.themeIcon.dark .sunBeams {
  opacity: 0;
  transform: rotateZ(-25deg);
  transition-duration: 0.3s;
}

.themeIcon.dark .moon > circle {
  transform: translateX(-0.4375rem);
  transition-delay: 0.25s;
  transition-duration: 0.2s;

  @supports (cx: 1) {
    cx: 17;
    transform: translateX(0);
  }
}
